<?xml version="1.0"?>
<model>
  <name>s1</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Jan Rudzki</name>
   <email>jan.rudzki@vortex-aerotec.com</email>
  </author>

  <description>
   This is a Gazebo simulation model of Vortex's first sub-scale prototype. The mass tensor was calculated for the case where the CG is at 53.8 percent of the length of the prototype. The aerodynamics are from P3, and thus do not match exactly.

  </description>
</model>
