<?xml version="1.0"?>
<model>
  <name>s2_advanced</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Cornelius Kauffmann</name>
   <email>cornelius.kauffmann@vortex-aerotec.com</email>
  </author>

  <description>
   This model uses the advanced lift drag plugin from Gazebo.
   This is a Gazebo simulation model of Vortex's second sub-scale prototype. 
  </description>
</model>
